<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" href="css/style.css"> 
    <!--this tage links css to html-->
    <title>Fortune Teller </title>
  </head>
  <body>
    <h1>Step Right Up and Recieve a Fortune!</h1>
    <h4> What is your name?</h4>
    <form method=POST>
      <input type="text" name="user"> <! we want the vairable name to be linked to the application controller>
      <br>
      <input type="submit" value="GET YOUR FORTUNE">
      </form>
  </body>
</html>






<!--<!DOCTYPE html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Sinatra MVC</title>-->
<!--  </head>-->

<!--  <body>-->
<!--    <h1>Index</h1>-->
<!--    <p> I love programming </p>-->
<!--  </body>-->
<!--</html>-->