<!DOCTYPE html>
<html>
  <head>
    <title>This is a new page!</title>
  </head>

  <body>
   <h1>Wow, that's an odd way to make a list</h1>
   
   <ul>
     
     
   </ul>
   
    <!--<h1><% if 1 == 2 %>-->
    <!--    <%= "well that's weird" %>-->
    <!--    <%else %>-->
    <!--    <%= "1 does not equal 2"%>-->
    <!--    <% end %>-->
    <!--</h1>-->
    <!--<p> I hope this works </p>-->
    <!--<ul>-->
    <!--  <li>lots of freaking water</li>-->
    <!--  <li>bad apple</li>-->
    <!--  <li>more food</li>-->
    </ul>
  </body>
</html>