<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title> Fortune </title>
  </head>
  <body>
    <h1>Your Fortune!</h1>
    <h4> Hi, <%=@the_user%>, your fortune is <%=@the_fortune%></h4>
  </body>
</html>
